.blog-post {
  padding: 3rem 0;

  @media (min-width: $tablet) {
    padding: 4rem 0;
  }

  &:nth-of-type(odd) {
    background-color: var(--hiq-gray-darker);
  }

  .container {
    @media (min-width: $tablet) {
      @include grid;
    }
  }
}

.blog-post-wrapper {
  @media (min-width: $tablet) {
    grid-column: auto / span 10;
  }

  @media (min-width: $desktop-md) {
    grid-column: auto / span 8;
  }
}

.blog-post-date {
  display: block;
  margin-bottom: 0.5rem;
  font-family: var(--font-family-condensed);
  font-size: var(--hiq-font-size-small);
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: var(--hiq-color-primary);
}

.blog-post-title {
  margin-bottom: 1.5rem;
  font-size: var(--hiq-font-size-1);
  font-family: var(--font-family-decorative);
  text-transform: uppercase;
  color: white;

  @media (min-width: $desktop-sm) {
    font-size: 3rem;
  }
}
