.contact {
  padding: 3rem 0;
  background-color: var(--hiq-gray-darker);
  text-align: center;
}

.contact-title {
  margin-bottom: 1.5rem;
  font-size: var(--hiq-font-size-3);
  font-weight: var(--hiq-font-weight-bold);
  line-height: 1.4;
}
