html {
  margin: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font-family-decorative);
  text-transform: uppercase;
  color: white;
}

p {
  letter-spacing: -0.0125em;
}

button,
[role='button'],
.button {
  @include font-family-condensed;

  letter-spacing: 0.075em;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    height: 2.5rem;
    padding: 0 0.75rem;
  }
}

blockquote {
  font-family: var(--font-family-serif);
  text-align: center;

  p {
    letter-spacing: 0;
    color: white;

    @media (min-width: $tablet) {
      font-size: 1.25rem;
    }

    @media (min-width: $desktop-sm) {
      font-size: 1.5rem;
    }

    &::before {
      content: '“';
    }

    &::after {
      content: '”';
    }
  }

  cite {
    display: inline-block;
    margin-top: 1.5rem;

    &::before {
      content: none;
    }
  }
}

cite {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.5rem 0;
  border-top: 1px solid var(--hiq-color-primary);
  border-bottom: 1px solid var(--hiq-color-primary);
  font-family: var(--font-family-serif);
  font-size: var(--hiq-font-size-small);
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: var(--hiq-color-primary);

  &::before {
    content: none;
  }
}

.error-header {
  padding: 3rem 0;
  text-align: center;
}
