.site-header {
  position: relative;
  padding: 1rem 0;
  z-index: 3;

  @media (min-width: $tablet) {
    display: none;
  }

  .container {
    display: flex;
  }
}

.site-menu-toggle {
  all: unset;
  margin-left: auto;

  .bar {
    display: block;
    width: 2rem;
    height: 2px;
    margin: 0.875rem 0;
    background-color: white;
  }
}

.site-menu {
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: var(--hiq-gray-darkest);
  text-align: center;
  opacity: 0;

  @media (min-width: $tablet) {
    visibility: visible;
    position: relative;
    z-index: 2;
    height: auto;
    background-color: transparent;
    opacity: 1;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  nav {
    margin-top: -3rem;

    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      padding: 2rem 0;
    }
  }

  a {
    display: block;
    padding: 1.5rem 0;
    font-size: var(--hiq-font-size-large);
    font-family: var(--font-family-condensed);
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: white;

    @media (min-width: $tablet) {
      margin: 0 2rem;
      padding: 0.25rem 0;
      border-bottom: 3px solid transparent;
      font-size: var(--hiq-font-size-base);

      &[aria-current] {
        border-bottom-color: var(--hiq-color-primary);
      }
    }

    @media (min-width: $desktop-sm) {
      font-size: var(--hiq-font-size-small);
    }
  }
}
